[submodule "bstats-backend"]
	path = bstats-backend
	url = git@github.com:Bastian/bstats-backend.git
[submodule "bstats-web"]
	path = bstats-web
	url = git@github.com:Bastian/bstats-web.git
[submodule "bstats-metrics"]
	path = bstats-metrics
	url = git@github.com:Bastian/bstats-metrics.git
[submodule "bstats-data-processor"]
	path = bstats-data-processor
	url = git@github.com:Bastian/bstats-data-processor.git
