<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Edit your plugin">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - Edit <%= pluginName %></title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../../../../../stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="../../../../../../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <style type="text/css">
        .depending_box {
            display: none;
        }
        .blacklistLabel {
            display: none;
        }
        .filterOptions {
             display: none;
         }
    </style>
</head>

<body>
<% include templates/navigation.ejs %>
<main>
    <div class="container">

        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <h1 class="header center red-text">Temporary not available!</h1>
                <div class="row center">
                    <h5 class="header col s12 light">This page currently gets rewritten. Please check again in a few days.</h5>
                </div>
            </div>
        </div>

    </div>
</main>
<% include templates/footer.ejs %>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../../../../../javascripts/materialize/materialize.min.js"></script>
<script src="../../../../../../javascripts/materialize/init.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
</body>
</html>