<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Error page.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - <% if (error.status === 404) { %>Page not found<% } else { %>Error<% } %></title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<% include templates/navigation.ejs %>
<main>
    <div class="container">
        <% if (message == 'Not Found') { %>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <h1 class="header center <%= customColor1 %>-text truncate">404 - Page not found</h1>
                <div class="row center">
                    <h5 class="header col s12 light">What are you trying to find here?</h5>
                </div>
                <div class="hide-on-small-and-down" style="text-align: center;"><pre class="ascii-element"></pre></div>
                <div class="hide-on-med-and-up" style="display: table; margin: 0 auto;">
                    <pre> _  _      ___    _  _
| || |    / _ \  | || |
| || |_  | | | | | || |_
|__   _| | | | | |__   _|
   | |   | |_| |    | |
   |_|    \___/     |_|

                    </pre></div>
            </div>
        </div>
        <% } else { %>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
        <% } %>

    </div>
</main>
<% include templates/footer.ejs %>

<!-- Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>
<script src="/javascripts/asciiMorph.min.js"></script>

<script type="application/javascript">
    var element = document.querySelector('pre');
    AsciiMorph(element, {x: 46, y: 13});

    var asciis = [[
        " _  _      ___    _  _    ",
        "| || |    / _ \\  | || |   ",
        "| || |_  | | | | | || |_  ",
        "|__   _| | | | | |__   _| ",
        "   | |   | |_| |    | |   ",
        "   |_|    \\___/     |_|   "
    ],
    [
        " _     _____ _        _       ",
        "| |   /  ___| |      | |      ",
        "| |__ \\ `--.| |_ __ _| |_ ___ ",
        "| '_ \\ `--. \\ __/ _` | __/ __|",
        "| |_) /\\__/ / || (_| | |_\\__ \\",
        "|_.__/\\____/ \\__\\__,_|\\__|___/"
    ],
    [
        " _   _       _    ______                    _ ",
        "| \\ | |     | |   |  ___|                  | |",
        "|  \\| | ___ | |_  | |_ ___  _   _ _ __   __| |",
        "| . ` |/ _ \\| __| |  _/ _ \\| | | | '_ \\ / _` |",
        "| |\\  | (_) | |_  | || (_) | |_| | | | | (_| |",
        "\\_| \\_/\\___/ \\__| \\_| \\___/ \\__,_|_| |_|\\__,_|"
    ],
    [
        "     .--------.",
        "    / .------. \\",
        "   / /        \\ \\",
        "   | |        | |",
        "  _| |________| |_",
        ".' |_|        |_| '.",
        "'._____ ____ _____.'",
        "|     .'____'.     |",
        "'.__.'.'    '.'.__.'",
        "'.__  |      |  __.'",
        "|   '.'.____.'.'   |",
        "'.____'.____.'____.'",
        "'.________________.'",
    ],
    [
        "      _      _      _",
        "   __(.)< __(.)> __(.)=",
        "   \\___)  \\___)  \\___)  ",
        "          _      _      _",
        "       __(.)< __(.)> __(.)=",
        "       \\___)  \\___)  \\___)   ",
        "      _      _      _",
        "   __(.)< __(.)> __(.)=",
        "   \\___)  \\___)  \\___)   ",
        "          _      _      _",
        "       __(.)< __(.)> __(.)=",
        "       \\___)  \\___)  \\___)  "
    ]];

    AsciiMorph.render(asciis[0]);

    var lastIndex = 0;

    setInterval(function() {
        var nexIndex = lastIndex;
        while (nexIndex == lastIndex) {
            nexIndex = Math.floor(Math.random() * asciis.length)
        }
        lastIndex = nexIndex;
        AsciiMorph.morph(asciis[nexIndex]);
    }, 3000);
</script>

</body>
</html>
