<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Login into your bStats account.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - Login</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<% include templates/navigation.ejs %>
<main>
    <div class="container">
        <br><br>
        <div class="hide-on-med-and-down"><br><br></div>
        <div class="row">
            <% if (failed) { %>
            <h5 class="red-text col s12 center-align">Login failed! Please try again!</h5>
            <% } else if (registered) { %>
            <h5 class="<%= customColor1 %>-text col s12 center-align">Account created! Please log in now.</h5>
            <% } else { %>
            <h5 class="<%= customColor1 %>-text col s12 center-align">Please, login into your account</h5>
            <% } %>
            <br><br>
            <div class="col s12 m8 l6 offset-m2 offset-l3 z-depth-1 grey lighten-4 row">
                <form class="col s12" method="post">
                    <br>
                    <!-- Name form -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" name="username">
                            <label for="username">Name</label>
                        </div>
                    </div>
                    <!-- Password form -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <br/>
                    <!-- Login button -->
                    <div class='row'>
                        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect <%= customColor1 %>'>
                            Login
                        </button>
                    </div>
                </form>
            </div>

            <a href="/register"class="col s12 center-align">Create account</a>
        </div>
    </div>
</main>
<% include templates/footer.ejs %>

<!-- Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>

<% include templates/globalScripts.ejs %>

</body>
</html>
