<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Create a new bStats account.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - Register</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>

<% include templates/navigation.ejs %>
<main>
    <div class="container">
        <br><br>
        <div class="hide-on-med-and-down"><br><br></div>
        <div class="row">
            <% if (failed) { %>
            <h5 class="red-text col s12 center-align">There's already an account with this name!</h5>
            <% } else if (wrongCaptcha) { %>
            <h5 class="red-text col s12 center-align">Please solve the capture!</h5>
            <% } else { %>
            <h5 class="<%= customColor1 %>-text col s12 center-align">Register an account</h5>
            <% } %>
            <br><br>
            <div class="col s12 m8 l6 offset-m2 offset-l3 z-depth-1 grey lighten-4 row">
                <form class="col s12" method="post">
                    <br>
                    <!-- Name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" name="username"
                                   pattern="^[-_a-zA-Z0-9]+(\s[-_a-zA-Z0-9]+)*$" length="32" class="validate">
                            <label for="username" data-error="Invalid username">Name</label>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!-- Password confirm -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password_confirm" type="password">
                            <label for="password_confirm">Confirm password</label>
                            <font class="red-text please_confirm" style="display: none;">Passwords do not match!</font>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0">
                        <p>
                            <input type="checkbox" id="accept-privacy-policy"/>
                            <label for="accept-privacy-policy">Accept <a href="/privacy-policy">privacy policy</a></label>
                        </p>
                    </div>
                    <div style="text-align: center">
                        <div class="g-recaptcha" style="display: inline-block"
                             data-sitekey="<%= publicKey %>" data-callback="correctCaptcha"></div>
                    </div>
                    <br/>
                    <!-- Register button -->
                    <div class='row'>
                        <a class='col s12 btn btn-large waves-effect <%= customColor1 %> disabled invalid_account'>Register</a>
                        <button type='submit' name='btn_register' class='col s12 btn btn-large waves-effect <%= customColor1 %> valid_account' style="display: none;">
                            Register
                        </button>
                    </div>
                </form>
            </div>

            <a href="/login" class="col s12 center-align">Already have an account? Login!</a>
        </div>
    </div>
</main>
<% include templates/footer.ejs %>

<!-- Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>

<script type="application/javascript">
    $(document).on('input','#password',function () {
        checkIfValidAccount();
        checkPasswords();
    });
    $(document).on('input','#password_confirm',function () {
        checkIfValidAccount();
        checkPasswords();
    });
    $(document).on('input','#username',function () {
        checkIfValidAccount();
    });

    $(document).on('input','#accept-privacy-policy',function () {
        checkIfValidAccount();
    });
    captchaSolved = false;

    function checkPasswords() {
        if (document.getElementById('password').value === document.getElementById('password_confirm').value) {
            $(".please_confirm").hide();
        } else {
            $(".please_confirm").show();
        }
    }

    function checkIfValidAccount() {
        if (document.getElementById('password').value !== document.getElementById('password_confirm').value) {
            $(".valid_account").hide();
            $(".invalid_account").show();
            return;
        }
        if (1 > document.getElementById('password').value.length) {
            $(".valid_account").hide();
            $(".invalid_account").show();
            return;
        }
        if (!/^[-_a-zA-Z0-9]+(\s[-_a-zA-Z0-9]+)*$/.test(document.getElementById('username').value)) {
            $(".valid_account").hide();
            $(".invalid_account").show();
            return;
        }
        if (!captchaSolved) {
            $(".valid_account").hide();
            $(".invalid_account").show();
            return;
        }
        if (!document.getElementById('accept-privacy-policy').checked) {
            $(".valid_account").hide();
            $(".invalid_account").show();
            return;
        }
        $(".valid_account").show();
        $(".invalid_account").hide();
    }

    var correctCaptcha = function(response) {
        captchaSolved = true;
        checkIfValidAccount();
    };
</script>

<% include templates/globalScripts.ejs %>

</body>
</html>
