/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    background-image: url("/images/backgrounds/sand.jpg");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
main {
    flex: 1 0 auto;
}
.box {
    border: 10px solid #009688;
    padding: 15px;
    margin: 15px;
}

.coloredBox {
    margin: 5px 1px;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    color: white;
    padding: 0px;
    text-shadow: 2px 2px #000;
    cursor: pointer;
}

.coloredBox:hover {
    font-size: 30px;
}

/* Left to right used to obfuscate the email */
.ltr-text {
   unicode-bidi: bidi-override;
   direction: rtl
}