# Firebase Secrets
firebase-config.json
service-account-file.json

# Postgres env for username and password
postgres.env
bstats-web.env
bstats-backend.env
geoipupdate.env

# AWS Secrets
AWS.env

# Volume Data
volumes/redis/node-1m/*
!volumes/redis/node-1m/.gitkeep
volumes/redis/node-2m/*
!volumes/redis/node-2m/.gitkeep
volumes/redis/node-3m/*
!volumes/redis/node-3m/.gitkeep

volumes/postgres/*
volumes/geoip/*