# Firebase Secrets
firebase-config.json
service-account-file.json

# Postgres env for username and password
postgres.env

# AWS Secrets
AWS.env

# Volume Data
volumes/redis/node-1m/*
!volumes/redis/node-1m/.gitkeep
volumes/redis/node-2m/*
!volumes/redis/node-2m/.gitkeep
volumes/redis/node-3m/*
!volumes/redis/node-3m/.gitkeep
