---
version: "3.8"

x-logging: &x-logging
  logging:
    driver: "json-file"
    options:
      max-size: "100m"

services:
  # Cluster of 3 Redis master nodes
  redis-node-1m: &redis-node
    image: "bitnami/redis-cluster:7.0"
    user: ${USERID:-0}
    healthcheck:
      test: ["CMD", "redis-cli", "-p", "6379", "--raw", "incr", "ping"]
    volumes:
      - "./volumes/redis/redis.conf:/opt/bitnami/redis/mounted-etc/redis.conf"
      - "./volumes/redis/node-1m:/bitnami/redis/data"
    environment: &redis-node-env
      REDIS_CLUSTER_REPLICAS: "0"
      REDIS_NODES: "redis-node-1m redis-node-2m redis-node-3m"
      ALLOW_EMPTY_PASSWORD: "yes"
      REDIS_PASSWORD: ""
    <<: *x-logging
  redis-node-2m:
    <<: *redis-node
    volumes:
      - "./volumes/redis/redis.conf:/opt/bitnami/redis/mounted-etc/redis.conf"
      - "./volumes/redis/node-2m:/bitnami/redis/data"
  redis-node-3m:
    <<: *redis-node
    volumes:
      - "./volumes/redis/redis.conf:/opt/bitnami/redis/mounted-etc/redis.conf"
      - "./volumes/redis/node-3m:/bitnami/redis/data"
    depends_on:
      - redis-node-1m
      - redis-node-2m
    environment:
      <<: *redis-node-env
      REDIS_CLUSTER_CREATOR: "yes"

  # Multiple instances of the backend server
  bstats-backend-1: &bstats-backend
    build: ../bstats-backend
    restart: unless-stopped
    ulimits: &ulimits
      nofile:
        soft: 32768
        hard: 32768
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3001/software"]
      retries: 60
    depends_on: &depends_on-redis
      redis-node-1m:
        condition: service_healthy
      redis-node-2m:
        condition: service_healthy
      redis-node-3m:
        condition: service_healthy
    environment: &bstats-backend-env
      SHARD_NUMBER: "0"
      PORT: "3001"
      REDIS_USE_CLUSTER: "true"
      REDIS_HOST: "redis-node-1m"
      REDIS_PORT: "6379"
      PGHOST: "postgres"
      PGPORT: "5432"
      TOTAL_SHARDS: "3"
    env_file:
      - bstats-backend.env
    <<: *x-logging
  bstats-backend-2:
    <<: *bstats-backend
    environment:
      <<: *bstats-backend-env
      SHARD_NUMBER: "1"
  bstats-backend-3:
    <<: *bstats-backend
    environment:
      <<: *bstats-backend-env
      SHARD_NUMBER: "2"

  geoipupdate:
    image: ghcr.io/maxmind/geoipupdate
    restart: unless-stopped
    env_file:
      - geoipupdate.env
    environment:
      GEOIPUPDATE_EDITION_IDS: "GeoLite2-Country"
      GEOIPUPDATE_FREQUENCY: "24"
    volumes:
      - "./volumes/geoip:/usr/share/GeoIP"
    <<: *x-logging

  bstats-data-processor:
    build: "../bstats-data-processor"
    restart: unless-stopped
    environment:
      GEOIP_DATABASE_PATH: "/usr/share/GeoIP/GeoLite2-Country.mmdb"
      BEHIND_PROXY: "true"
      BEHIND_CLOUDFLARE_PROXY: "true"
      REDIS_CLUSTER__URLS: "redis://redis-node-1m:6379,redis://redis-node-2m:6379,redis://redis-node-3m:6379"
      WORD_BLOCKLIST: '["ely.su"]'
      WORKERS: "4"
    volumes:
      - "./volumes/geoip:/usr/share/GeoIP:ro"
    depends_on:
      <<: *depends_on-redis
    <<: *x-logging

  redis-commander:
    container_name: redis-commander
    image: ghcr.io/joeferner/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis-node-1m:6379,local:redis-node-2m:6379,local:redis-node-3m:6379
    ports:
      - "8081:8081"

  # An nginx server for load balancing the backend services
  nginx-backend:
    image: nginx:latest
    restart: unless-stopped
    ulimits:
      <<: *ulimits
    volumes:
      - ./volumes/nginx-backend/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - bstats-backend-1
      - bstats-backend-2
      - bstats-backend-3
    <<: *x-logging

  bstats-web:
    build: ../bstats-web
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000"]
      retries: 60
    depends_on:
      <<: *depends_on-redis
      postgres:
        condition: service_started
    environment:
      BACKEND_URL: "http://bstats-backend-1:3001" # TODO Go through caddy to balance the load
      PUBLIC_TOS_REQUIRED_VERSION: "1764810000000"
    env_file:
      - bstats-web.env
    <<: *x-logging

  caddy:
    image: caddy:2.9
    restart: unless-stopped
    ulimits:
      <<: *ulimits
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./volumes/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
    depends_on:
      - bstats-web
      - nginx-backend
    <<: *x-logging

  # A SQL database for historical data
  postgres:
    image: postgres:17
    command: -c 'max_connections=200'
    env_file:
      - postgres.env
    volumes:
      - ./volumes/postgres/data:/var/lib/postgresql/data
      - ./volumes/postgres/database-dump:/database-dump
