<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="The credits page.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - Credits</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

<% include ../templates/navigation.ejs %>
<main>
    <div class="container">
        <div class="section no-pad-bot" id="index-banner">
            <br/><br/>
            <h1 class="header center <%= customColor1 %>-text">Credits</h1>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Sponsored by FastVM</h4></li>
                <li class="collection-item">
                    <div>
                        bStats is sponsored by <b><a href="https://fastvm.io/">FastVM</a></b>!
                        <a href="https://fastvm.io/" class="secondary-content"><i class="material-icons">web</i></a>
                    </div>
                </li>
            </ul>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Author</h4></li>
                <li class="collection-item">
                    <div>
                        <b>BtoBastian</b>
                        <a href="http://bastian-oppermann.de" class="secondary-content"><i class="material-icons">web</i></a>
                    </div>
                </li>
            </ul>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Testers</h4></li>
                <li class="collection-item">
                    <div>
                        <b>f_</b> who also suggested the name for bStats and forced me to create a credits page
                    </div>
                </li>
            </ul>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Special thanks</h4></li>
                <li class="collection-item">
                    <div>
                        <b>Cloudflare</b>
                        <a href="https://www.cloudflare.com/" class="secondary-content"><i class="material-icons">web</i></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>
                        <b>Highcharts</b>
                        <a href="http://www.highcharts.com/" class="secondary-content"><i class="material-icons">web</i></a>
                    </div>
                </li>
            </ul>
            <br/><br/><br/>
        </div>
    </div>
</main>
<% include ../templates/footer.ejs %>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>

<% include ../templates/globalScripts.ejs %>

</body>
</html>
