<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="bStats collects data for plugin authors. Get started now!">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - Getting started</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../../../../../stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../../../../../../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<% include ../templates/navigation.ejs %>
<div class="container">

    <br>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Getting started</span>
                    <p>
                        bStats can collect and show data about your Bukkit/Spigot plugin. Including it into your plugin
                        is straight forward and done in a few seconds. You only have to copy the linked class, add it
                        to your plugin and create an instance of it in your onEnable() method. You can also use Maven
                        to automatically shade the Metrics class into your plugin. Click on "Include Metrics" to learn
                        how to include bStats into your plugin!<br>
                        After adding bStats to your plugin you also have to create an account in order to register
                        your plugin. You can manage your plugins with this account, e.g. adding customs graphs, etc.
                    </p>
                </div>
                <div class="card-action">
                    <a href="/getting-started/include-metrics">Include Metrics</a>
                    <% if (loggedIn) { %>
                    <a href="/add-plugin">Add Plugin</a>
                    <% } else { %>
                    <a href="/register">Registration</a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Which data is sent?</span>
                    <p>
                        By default, bStats sends the following data:
                    <ul>
                        <li>- Your server's randomly generated UUID</li>
                        <li>- The amount of players on your server</li>
                        <li>- The online mode of your server</li>
                        <li>- The bukkit version of your server</li>
                        <li>- The java version of your system (e.g. Java 8)</li>
                        <li>- The name of your OS (e.g. Windows)</li>
                        <li>- The version of your OS</li>
                        <li>- The architecture of your OS (e.g. amd64)</li>
                        <li>- The system cores of your OS (e.g. 8)</li>
                        <li>- bStats-supported plugins</li>
                        <li>- Plugin version of bStats-supported plugins</li>
                    </ul>
                    Note, that plugin authors can send custom data, too. All data is public so you can see
                    which data they send. Also notice all sent data is anonymous and we do NOT link the
                    sent information with the server (e.g. server xyz is using plugin zyx) and we also do NOT
                    store the ip of your server.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Custom Graphs</span>
                    <p>
                        bStats also supports the creation of custom graphs. Take a look at the examples to get a
                        feel how creating custom graphs works. You may also like to check out the REST-Api.
                    </p>
                </div>
                <div class="card-action">
                    <a href="/help/custom-charts">Examples</a>
                    <a href="/help/rest-api">REST-Api</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Disabling bStats</span>
                    <p>
                        If you don't want that your server sends data to bStats you can disable it by setting enabled to
                        false in the bStats config file. The config can be found in the <i>/plugins/bStats/config.yml</i>
                        file. bStats has nearly no effect on your server's performance and the sent data is completely
                        anonymous so please consider twice if you really want to disable it. Seeing that lot's of servers
                        are using there plugin can keep plugin authors motivated and some of the data can also be used
                        to improve their plugins.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<% include ../templates/footer.ejs %>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../../../../../javascripts/materialize/materialize.min.js"></script>
<script src="../../../../../../javascripts/materialize/init.js"></script>

</body>
</html>
