<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Twitter stuff -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@btobastian" />
    <meta name="twitter:title" content="bStats - Plugin Metrics made with <3" />
    <meta name="twitter:description" content="bStats collects data for plugin authors. It's free and easy to use!" />
    <meta name="twitter:image" content="https://bstats.org/images/Twitter.jpg" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="bStats collects data for plugin authors. It's free and easy to use!">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../../../../../stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="../../../../../../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<% include ../templates/navigation.ejs %>
<main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text">bStats</h1>
            <div class="row center">
                <h5 class="header col s12 light">Plugin Metrics made with ❤</h5>
            </div>
            <div class="row center">
                <a href="/getting-started" id="download-button" class="btn-large waves-effect waves-teal accent-4">Get
                    Started</a>
            </div>
            <br><br>
        </div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons">assessment</i></h2>
                        <h5 class="center">Informative charts</h5>

                        <p class="light">bStats is using charts from <a href="http://www.highcharts.com/">Highcharts</a>
                            to present it's data. They are not only informative but also look great!</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons">layers</i></h2>
                        <h5 class="center">Hosted by LayerWall</h5>

                        <p class="light">We are glad to be sponsored by <a href="http://www.layerwall.com/">LayerWall</a>!
                            You should definitely check out their website!</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons">schedule</i></h2>
                        <h5 class="center">Integrated within seconds</h5>

                        <p class="light">bStats is extremely easy to integrate into your plugin. Just add one class to
                            your plugin and you are done!</p>
                    </div>
                </div>

                <div class="col s12 m4 offset-m2">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons">trending_up</i></h2>
                        <h5 class="center">Written in NodeJS</h5>

                        <p class="light">bStats' backend is completely written in NodeJS which offers a great
                            performance. Say no to slow response times!</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons">code</i></h2>
                        <h5 class="center">Open source</h5>

                        <p class="light">bStats is Open Source! Feel free to check out our <a href="https://github.com/BtoBastian/bStats">GitHub page</a>.</p>
                    </div>
                </div>
            </div>

        </div>
        <br><br>
    </div>
</main>
<% include ../templates/footer.ejs %>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../../../../../javascripts/materialize/materialize.min.js"></script>
<script src="../../../../../../javascripts/materialize/init.js"></script>

</body>
</html>
