<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Our privacy policy.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - Privacy Policy</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<% include ../templates/navigation.ejs %>
<main>
    <div class="container">

        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <h1>Privacy Statement</h1>
                <h2>General</h2>
                Your personal data (e.g. name, e-mail address, ..) are processed by us only in accordance
                with the provisions of German data privacy laws.
                The following provisions describe the type, scope and purpose of collecting, processing and utilizing
                personal data. This data privacy policy applies only to our web pages. If links on our pages route you
                to
                other pages, please inquire there about how your data are handled in such cases.<br/>
                <h2>Inventory data</h2>
                (1) Your personal data, insofar as these are necessary for this contractual relationship (inventory
                data)
                in terms of its establishment, organization of content and modifications, are used exclusively for
                fulfilling the contract. For goods to be delivered, for instance, your name and address must be relayed
                to
                the supplier of the goods. <br/>(2) Without your explicit consent or a legal basis, your personal data
                are
                not passed on to third parties outside the scope of fulfilling this contract. After completion of the
                contract, your data are blocked against further use. After expiry of deadlines as per tax-related and
                commercial regulations, these data are deleted unless you have expressly consented to their further use.<br/>
                <h2>Information about cookies</h2>
                (1) To optimize our web presence, we use cookies. These are small text files stored in your computer's
                main memory. These cookies are deleted after you close the browser. Other cookies remain on your
                computer
                (long-term cookies) and permit its recognition on your next visit. This allows us to
                improve your access to our site.<br/>
                (2) You can prevent storage of cookies by choosing a &quot;disable cookies&quot; option in your browser
                settings. But this can limit the functionality of our Internet offers as a result.<br/>
                <h2>Disclosure</h2>
                According to the Federal Data Protection Act, you have a right to free-of-charge information about your
                stored data, and possibly entitlement to correction, blocking or deletion of such data. Inquiries can be
                directed to the following e-mail addresses:
                ( imprint.bstats@gmail.com )<br/><br/>
                <i>Source: </i><a href="http://www.muster-vorlagen.net/"
                                  target="_blank">http://www.muster-vorlagen.net</a>
                <br/><br/>
            </div>
        </div>

    </div>
</main>
<% include ../templates/footer.ejs %>

<!-- Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>

<% include ../templates/globalScripts.ejs %>

</body>
</html>
