http://bstats.org bstats.org http://bstats.localhost bstats.localhost {
    encode gzip

    handle_path /submitData/* {
        rewrite * /legacy{path}
        reverse_proxy http://bstats-data-processor:8080
    }

    handle /submitData {
        rewrite * /legacy/bukkit
        reverse_proxy http://bstats-data-processor:8080
    }

    handle_path /api/v2/data/* {
        rewrite * {path}
        reverse_proxy http://bstats-data-processor:8080
    }

    handle_path /api/v2/* {
        reverse_proxy http://nginx-backend:3001
    }

    handle_path /api-list* {
        rewrite * /api-list{path}
        reverse_proxy http://nginx-backend:3001
    }

    handle_path /signatures/* {
        rewrite * /signatures{path}
        reverse_proxy http://nginx-backend:3001
    }

    handle_path /api/v1/plugins {
        rewrite * /services{path}
        reverse_proxy http://nginx-backend:3001
    }

    handle_path /api/v1/plugins/* {
        rewrite * /legacy/service{path}
        reverse_proxy http://nginx-backend:3001
    }

    # Catch-all proxy for all other requests
    reverse_proxy http://bstats-web:3000
}
