<div class="container">

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center <%= customColor1 %>-text">Nice try!</h1>
            <div class="row center">
                <h5 class="header col s12 light">You are not the owner of
                    <div class="truncate"><%= plugin.name %></div>
                </h5>
            </div>
        </div>
    </div>

</div>